div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-xs-6
      h1 SBML
      div(ui-ace="{\
        useWrapMode : true,\
        showGutter: true,\
        theme:'solarized_light',\
        mode: 'xml'\
      }", ng-model="text.sbml", ng-change="")

    .col-xs-6
      h1 MATLAB
      div(ui-ace="{\
        useWrapMode : true,\
        showGutter: true,\
        theme:'solarized_dark',\
        mode: 'matlab'\
      }", ng-model="text.matlab", ng-change="")
